<?xml version="1.0" encoding="UTF-8"?>
<beans	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd 
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd" >
	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.ricardo.springmvc.*"/>


	<!-- 启动注解型配置 -->
	<mvc:annotation-driven/>  
	

	<!-- 静态文件的配置 -->
	<mvc:default-servlet-handler/>
	<mvc:resources location="/WEB-INF/views/staticPages/" mapping="/staticPages/**"></mvc:resources>
	<!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑ 将Location当中的路径匹配到@Controller文件中@RequestMapping -->
	<!-- 在@RequestMapping中 return "redirect:staticPages/final.html"-->
	<!-- 就跳转到 项目名字/WEB-INF/views/staticPages/final.html -->
	
	
	
	<!-- HandlerMapping -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
	<!-- HandlerAdapter -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	
	<!-- ViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- ViewClass:jstlview表示jsp末班页面需要使用JSTL标签库 -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
		<!-- @Controller-@RequestMapping return “something” -->
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
		<!-- 访问/WEB-INF/views/something.jsp文件 -->
	</bean>
	
	 <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	
</beans>